<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/vue.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <div id="app">
        <h1>To Do List</h1>
        <div class="form">
           <form @submit.prevent="save()"> 
                <input type="text" placeholder="Entre com uma tafefa..." v-model="toDo">
                <button type="submit">Enviar</button>
            </form>
          <p class="error-message" v-show="errorMessage">{{ errorMessage }}</p>
        </div>
        <div class="to-do-list">
          <ol>
            <li v-for="td in toDoList" :key="td.text">
              <span class="text" :class="{'completed' : td.completed }">{{ td.text }}</span>
              <span class="actions">
                <button class="complete" v-if="!td.completed" @click="complete(td)">&#10004;</button>
                <button class="remove" @click="remove(td)">&#10006;</button>
              </span> 
            </li>
          </ol>
        </div>
      </div>  
</body>
</html>